.gallery_grid
  .gallery_item.gallery_item_tall
  .gallery_item.gallery_item_wide
  .gallery_item.gallery_item_wide
  .gallery_item.gallery_item_tall
  .gallery_item.gallery_item_wide
  .gallery_item.gallery_item_tall
  .gallery_item.gallery_item_tall
  .gallery_item.gallery_item_wide