header
  aside.float_left
    nav(data-nav='closeNav')
      button.close_nav(data-nav='closeNav')
        img(src="/assets/icons/arrow.svg", alt="Pfeil")
      .nav_logo
        img(src="/assets/images/CEM CAKO LABEL POSITIV 1.svg", alt="CEM CAKO")
      ul.nav_menu
        li Home
        li Vita
        li About
      ul.nav_menu_social_icons
        img(src="/assets/icons/facebook.svg", alt="Facebook")
        img(src="/assets/icons/instagram.svg", alt="Instagram")
  .clearfix



