@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothings: grayscale;
  -webkit-font-smoothing: antialiased;
}

.gallery_grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

.gallery_item_tall {
  grid-row: span 2 / auto;
}

.gallery_item_wide {
  grid-column: span 2 / auto;
}

.gallery_item {
  background-size: cover;
}

aside {
  width: 400px;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.nav_logo {
  text-align: center;
  margin: auto;
  padding-top: 5em;
}

.float_left {
  float: left;
}

.close_nav {
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: white;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  border: 1px solid lightgrey;
}

.close_nav img.animation {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.closed_nav {
  margin-left: -230px;
}
